{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block body %}
    <h2 class="my-4">Add New Book</h2>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.isAvailable) }}
    <button class="btn btn-success mt-3">Add Book</button>
    {{ form_end(form) }}
{% endblock %}
