{% extends 'base.html.twig' %}

{% block title %} Edit Book {% endblock %}

{% block body %}

    <h1>Edit Book</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.isAvailable) }}
    <button class="btn btn-success mt-3">Update</button>
    {{ form_end(form) }}
{% endblock %}