{% extends 'base.html.twig' %}

{% block title %}
	DashBoard
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="display-4 m-4"> DashBoard </h1>

		<h2>Welcome, {{ user.username }} !</h2>
		<p>Email : {{ user.email }}</p>

		{% if type == "companyUser" %}
			<p>Company: {{ user.companyName }} </p>
			<p>Company Email: {{ user.companyEmail }} </p>
		{% elseif type == "normalUser" %}
			<p>Member: {{ user.isMember ? 'Yes' : 'No' }} </p>
		{% endif %}


	</div>


{% endblock %}
